<div class="z-10 relative bg-[#657AAA] h-[25vh]">
    <footer class="text-white flex justify-between gap-3 m-10 p-4">
        <div class="w-[40%]">
            <h3 class="font-medium"> MENU</h3>
            <hr class="pb-3">
            <ul class="list-none flex flex-col gap-1">
                <a href="/">Home</a>
                <a href="/shop/">Products</a>
                <a href="/search">Search</a>
                <a href="/about">About Us</a>
        </div>
        <div class="w-[40%]">
            <h3 class="font-medium"> SHOP </h3>
            <hr class="pb-3">
            <ul class="list-none flex flex-col gap-1">
                <a href="/shop/">Keychain</a>
                <a href="/shop/">Accessories</a>
                <a href="/shop/">Bag</a>
                <a href="/shop/">Other</a>
            </ul>
        </div>
    </footer>
</div>